<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atende Já</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

    <header>
        <div class="navbar">
            <span class="logo">ATENDE JÁ.</span>
            <a href="{{ url_for('cadastro') }}" class="btn-cadastro">Cadastro</a>
            <a href="{{ url_for('login') }}" class="btn-login">Login</a>

        </div>
    </header>

    <main>
       
        <section class="hero">
            <span class="dot"></span>
            <h1>Gerencie a fila de espera da sua Empresa de forma eficiente.</h1>
            <p class="subheading">"Organize a fila por chegada, mesas e check-ins."</p>
            <button class="btn-cadastro">CADASTRO</button>
            <p class="price">Planos a partir de R$ 85,90/mês.</p>
            <div class="image-placeholder">IMAGEM</div>
        </section>

       
        <section class="benefits">
            <h3>Organizar a fila de espera da sua empresa nunca foi tão fácil:</h3>
            <div class="benefit-icons">
                <div class="icon">
                    <p>Download direto</p>
                    <p>Aplicativo para smartphones.</p>
                </div>
                <div class="icon">
                    <p>Acesse via desktop</p>
                    <p>Sistema disponível para web.</p>
                </div>
                <div class="icon">
                    <p>Integração fácil</p>
                    <p>Com QR code e notificações.</p>
                </div>
            </div>
        </section>